h1 {
    text-align: center;
}

nav {
    text-align: center;
}
nav li {
    list-style-type: none;
}

h2 {
    text-align: center;
    border-bottom: #121212 solid .5px;
}

#colorBox1 {
    color: #C8B296;
    background-color: #121212;
}

#colorBox2 {
    color: #121212;
    background-color: #C8B296;
}

#colorBox3 {
    color: #C8B296;
    background-color: #933BE4;
}


.colorBoxes {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colors{
    display: flex;
    justify-content: center;
    align-items: center;
}

#embed {
    figure out font loading
}