
/*Quattrocento*/
@font-face {
    font-family: 'quattrocento';
    src: url(Assets/Fonts/Quattrocento/quattrocento-regular-webfont.woff2);
    src: url(Assets/Fonts/Quattrocento/quattrocento-regular-webfont.woff);
}

@font-face {
    font-family: 'quattrocento';
    font-weight: '700';
    src: url(Assets/Fonts/Quattrocento/quattrocento-bold-webfont.woff2);
    src: url(Assets/Fonts/Quattrocento/quattrocento-bold-webfont.woff);
}

/*QuattrocentoSans*/
@font-face {
    font-family: 'quattrocentosans';
    src: url(Assets/Fonts/QuattrocentoSans/quattrocentosans-regular-webfont.woff2);
    src: url(Assets/Fonts/QuattrocentoSans/quattrocentosans-regular-webfont.woff);
}

@font-face {
    font-family: 'quattrocentosans';
    font-weight: 700;
    src: url(Assets/Fonts/QuattrocentoSans/quattrocentosans-bold-webfont.woff2);
    src: url(Assets/Fonts/QuattrocentoSans/quattrocentosans-bold-webfont.woff);
}

@font-face {
    font-family: 'quattrocentosans';
    font-style: italic;
    src: url(Assets/Fonts/QuattrocentoSans/quattrocentosans-italic-webfont.woff2);
    src: url(Assets/Fonts/QuattrocentoSans/quattrocentosans-italic-webfont.woff);
}

@font-face {
    font-family: 'quattrocentosans';
    font-style: italic;
    font-weight: 700;
    src: url(Assets/Fonts/QuattrocentoSans/quattrocentosans-bolditalic-webfont.woff2);
    src: url(Assets/Fonts/QuattrocentoSans/quattrocentosans-bolditalic-webfont.woff);
}

/*Roboto*/
@font-face {
    font-family: 'roboto';
    src: url('Assets/Fonts/Roboto/robotomono-variablefont_wght-webfont.woff2');
    src: url('Assets/Fonts/Roboto/robotomono-variablefont_wght-webfont.woff');
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    src: url('Assets/Fonts/Roboto/robotomono-italic-variablefont_wght-webfont.woff2');
    src: url('Assets/Fonts/Roboto/robotomono-italic-variablefont_wght-webfont.woff');
}



h1 {
    text-align: center;
}

nav {
    text-align: center;
}
nav li {
    list-style-type: none;
}

h2 {
    text-align: center;
    border-bottom: #121212 solid .5px;
}

#colorBox1 {
    color: #C8B296;
    background-color: #121212;
}

#colorBox2 {
    color: #121212;
    background-color: #C8B296;
}

#colorBox3 {
    color: #C8B296;
    background-color: #933BE4;
}

.colorBoxes {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colors{
    display: flex;
    justify-content: center;
    align-items: center;
}

#embed {
    font-family: roboto;
    font-weight: bold;
}
#embed summary {
    user-select: none;
    cursor: pointer;
}

#Quattrocento {
    font-family: ;
}