body {
    background-color: #121212;
    color: rgb(200, 178, 150);
    text-align: center;
}

.code {
    font-family: monospace;
}


table {
    max-width: 1200px;
    width: 100%
}

table, td, th {
    border-color: rgb(147, 59, 228);
    border: 1px solid;
    border-collapse: collapse;
    margin: auto;

}

@media (max-width: 600px) {
    td, th {
        padding: 0.4rem;
    }
}


th, th {
    padding: 0.75rem;
}

th {
    text-align: center;
 }

a:link {
    color: #66b3ff;
}

a:visited {
    color: #c792ea;
}